<section class="add-event container">
     <section class="home control-panel add-options" style="background-color: #ffa700">
        <nav>
            <i class="fa fa-star edit-icon-size icon-color" aria-hidden="true" ui-sref="add.add-event"
                uib-tooltip="Add Event"
                ui-sref-active="icon-color-active"
                tooltip-placement="right"
                tooltip-trigger="mouseenter"
                tooltip-class="tooltip-text-size">
            </i>
        </nav>
        <nav>
            <i class="fa fa-user-plus edit-icon-size icon-color" aria-hidden="true" ui-sref="add.add-user"
                uib-tooltip="Add User"
                ui-sref-active="icon-color-active"
                tooltip-placement="right"
                tooltip-trigger="mouseenter"
                tooltip-class="tooltip-text-size">
            </i>
        </nav>
        <nav>
            <i class="fa fa-picture-o edit-icon-size icon-color" aria-hidden="true" ui-sref="add.upload-profile-image"
                uib-tooltip="Upload Profile Image"
                ui-sref-active="icon-color-active"
                tooltip-placement="right"
                tooltip-trigger="mouseenter"
                tooltip-class="tooltip-text-size">
            </i>
        </nav>
        <nav>
            <i class="fa fa-users edit-icon-size icon-color coming-soon" aria-hidden="true" ui-sref="add.add-group"
                uib-tooltip="Add Group"
                ui-sref-active="icon-color-active"
                tooltip-placement="right"
                tooltip-trigger="mouseenter"
                tooltip-class="tooltip-text-size">
            </i>
        </nav>
    </section>
    <ui-view></ui-view>
</section>